# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Temporary files
tmp/
temp/

# Build output (if applicable)
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# npm specific files
npm-debug.log*
package-lock.json
